*{margin:0; padding:0;}
body{
	background:url('../picture/8_img/1.jpg')  fixed ;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
}

/* 百度换肤样式Start*/
#box{
	border:2px solid red;
	margin: 20px auto;

}
#box .miku{/* 绿色椭圆框*/
	width: 280px;
	height: 36px;
	background: green;
	float:right;
	border-radius: 20px;
	position: relative;

}
#box .miku .al{  /* 文字部分*/
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	font-family: 'Microsoft YaHei';
}
.miku .a2{   /* 换肤图片*/
	width: 32px;
	height: 32px;
	/*background: url('../picture/8_img/1.png');*/
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}
#box .miku a:hover{/*文字鼠标经过变色*/
	color: red;

}
#dic{  /* 底部区块*/
	width: 100%;
	height: 280px;
	position: fixed;
	background-color: #c3c3c3;
	/*left:0px;
	bottom: 0px;*/
	display:none;
	position: absolute;
	top: 56px;
	background: rgba(0,0,0,0.5);/*背景颜色透明*/
	/*filter:alpha(opacity=10,finishopacity=0,style=2);*/
	
}
#dic ul{
	width:724px; 
	height:200px;
	margin:20px auto 0px;
	border:2px solid red;
	padding: 0px 0px;
	/**/
	
}
#dic ul li{  /* 六个小图片*/
	list-style:none;
	width:198px;
	height: 69px;
	border:1px solid white;
	float:left;
	padding: 0px;
	margin:20px 0px 0px 30px;
}
#dic ul li.on{
	
	border:1px solid red;
}
/* 百度换肤样式END*/